<div class="modal-header">
    <h5 class="modal-title">Agregar empleado</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body form-empleado">
    <div class="row">
      <form class="text-center p-5 pt-0" [formGroup]="editEmpleadoForm" (ngSubmit)="onEditEmpleado(editEmpleadoForm.value)">
        <div class="row">
          <div class="col-6">
            <p style="text-align: initial;"> Nombre: </p>
            <input type="text" formControlName="nombre" id="nameEmpleado" class="input form-control" placeholder="Nombre completo" required>
          </div>
          <div class="col-6">
            <p style="text-align: initial;"> Telefono: </p>
            <input type="text" id="phoneEmpleado" formControlName="telefono" class="input form-control" placeholder="Telefono"
              maxlength="10" required>
          </div>
          <div class="col-12">
            <p style="text-align: initial;"> Correo electronico: </p>
            <input type="text" formControlName="email" id="emailEmpleado" class="input form-control" placeholder="Correo electronico" required>
          </div>
          <div class="col-12">
            <p style="text-align: initial;"> Contraseña: </p>
            <input type="password" formControlName="password" id="passwordEmpleado" class="input form-control" placeholder="Contraseña" required>
          </div>
          <div class="col-12 mb-2 input-wrapper w-100">
            <p style="text-align: initial;"> Ciudad: </p>
            <select class="select-register select-register--emp" formControlName="ciudad" id="ciudad-select" required>
              <option value="" disabled>Selecciona la ciudad</option>
              <option *ngFor="let c of ciudad" [value]="c.id_ciudad">{{c.nombre}}</option>
            </select>
          </div>
          <div class="col-12 mb-2 input-wrapper w-100">
            <p style="text-align: initial;"> Puesto: </p>
            <select class="select-register select-register--emp" formControlName="puesto" id="puesto-select" required>
              <option value="" disabled>Selecciona el puesto del empleado: </option>
              <option *ngFor="let p of puesto" [value]="p.id_puesto">{{p.name_puesto}}</option>
            </select>
          </div>
          <div class="col-12 mb-2 input-wrapper w-100">
            <p style="text-align: initial;"> Turno: </p>
            <select class="select-register select-register--emp" formControlName="turno" id="turno-select" required>
              <option value="" disabled>Selecciona el turno a laborar: </option>
              <option *ngFor="let t of turno" [value]="t.id_turno">{{t.horas_turno}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onEditEmpleado(editEmpleadoForm.value)">Guardar</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
</div>