.btn-FIMEprimary{
    background: #88e3ff;
    border: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: 800;
}
.close-session{
    text-align: end;
    padding: 20px 30px 20px 20px;
    a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 15px;
    }
}

.form-empleado{
    p{
        margin-bottom: .5rem;
    }
    input{
        padding: 10px;
        margin: 0 0 10px 0!important;
    }
}

.close{
    height: 46px;
    width: 10%;
    border: none;
    border-radius: 9px;
    background-color: #F7F7FA;
    color: black;
    font-size: 30px;
    line-height: 19px;
    text-align: center;
}