<!-- Default form login -->
<div class="login">
    <form class="text-center p-5 form-login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <i class="form-login-text bi bi-hospital"></i>
      <p class="h4 mb-3">Iniciar Sesión Consultorio</p>
      <div class="row justify-content-center">
        <!-- Email -->
        <div class="input-wrapper col-sm-12">
          <i class="input-icon bi bi-person-circle"></i>
          <input type="email" id="defaultLoginFormEmail" formControlName="email" class="form-control input mb-4" placeholder="Correo Electronico">
        </div>
        <!-- Password -->
        <div class="input-wrapper col-sm-12">
          <i class="input-icon bi bi-lock"></i>
          <input type="password" id="defaultLoginFormPassword" formControlName="password" class="form-control input mb-4" placeholder="Contraseña">
        </div>
      </div>
      <!-- <div class="row mb-3">
        <div class="col-sm-12">
          <a [routerLink]="['/forgot-password']"> ¿Olvidaste tu contraseña? </a>
        </div>
      </div> -->
      <!-- <div class="d-flex justify-content-around">
        <div class="mb-4">
          <a routerLink=''>¿Olvidaste tu contraseña?</a>
        </div>
      </div> -->
      <!-- Sign in button -->
      <div class="mb-4">
        <button class="btn btn-custom1" type="button" (click)="onLogin()">Iniciar Sesión</button>
      </div>
      <!-- Register -->
      <div>
        <a [routerLink]="['/register']">Registrate</a>
      </div>
      <div>
        <a [routerLink]="['/loginEmpleado']">¿Eres empleado? Ingresa AQUI</a>
      </div>
    </form>
    <!-- Default form login -->
  </div>
  
