<div class="row" style="align-items: center;">
    <div class="row">
        <div class="col-6 name-session">
            <a>Bienvenido Secretari@ {{nameEmpleado}}</a>
        </div>
        <div class="col-6 close-session">
            <a [routerLink]="['/loginEmpleado']">Cerrar sesión</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding: 20px 20px 20px 30px;">
            <h3>Lista de pacientes</h3>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-12 mt-3 mx-3">
            <button type="button" class="btn-FIMEprimary" data-bs-toggle="modal" data-bs-target="#addCita"> <i class="bi bi-plus"></i> Nuevo paciente </button>
        </div>
    </div>
</div>
<div id="materias">
    <div class="mt-5 mx-3">
        <kendo-grid 
            [kendoGridBinding]="gridView"
            [pageSize]="10"
            [pageable]="{pageSizes: [10, 25, 50, 100]}"
            [sortable]="true"
            [filterable]="true"
            [resizable]="true"
            [selectable]="true"
            [navigable]="true"
            kendoGridSelectBy="id"
            style="width: 100%;"
            [style]="{'text-align': 'left'}">
            <kendo-grid-column field="id_paciente" title="Id" [headerClass]="{'myClass': true}" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="nombre_pac" title="Nombre paciente" [headerClass]="{'myClass': true}" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="email_pac" title="Correo electronico" [headerClass]="{'myClass': true}" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="phone_pac" title="Telefono" [headerClass]="{'myClass': true}" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="name_city" title="Dirección" [headerClass]="{'myClass': true}" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="name_cont" title="Contacto de emergencia" [headerClass]="{'myClass': true}" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="nombre_emp" title="Doctor" [headerClass]="{'myClass': true}" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="horas" title="Horario cita" [headerClass]="{'myClass': true}" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="acciones" title="Acciones" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <a (click)="onEdit(dataItem)"><i class="bi bi-pencil"></i></a>
                        </div>
                        <div class="col-3" style="color: red;">
                            <a (click)="onDelete(dataItem)"><i class="bi bi-trash3"></i></a>
                        </div>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <ng-template kendoGridNoRecordsTemplate>
                <div class="col-12 mt-5">
                    <app-not-records [label]="'No se encontraron registros disponibles.'"></app-not-records>
                </div>
            </ng-template>
        </kendo-grid>
    </div>
</div>


<div class="modal fade" id="addCita" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <app-add-cita [id_empleado]="idEmpleado" [id_consultorio]="idConsultorio" (reloadTable)="reloadTable()"></app-add-cita>
        </div>
    </div>
</div>

<div class="modal fade" id="editCita" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <app-edit-cita [datosEditar]="pacienteData" [id_consultorio]="idConsultorio"></app-edit-cita>
        </div>
    </div>
</div>