<div class="modal-body form-empleado">
    <div class="row">
            <div class="col-12">
                <h4> Consulta </h4>
            </div>
            <div class="col-4">
              <p> Peso: </p>
              <input type="text" id="pesoConsulta" formControlName="pesoConsulta" class="input form-control" placeholder="Kg">
            </div>
            <div class="col-4">
              <p> Altura: </p>
              <input type="text" id="alturaConsulta" formControlName="alturaConsulta" class="input form-control" placeholder="Cm">
            </div>
            <div class="col-4">
                <p> Temperatura: </p>
                <input type="text" id="temperaturaConsulta" formControlName="temperaturaConsulta" class="input form-control" placeholder="Centigrados">
              </div>
            <div class="col-12">
              <p> Padecimientos: </p>
              <textarea name="padecimiento" id="padecimiento" formControlName="padecimiento" cols="63" rows="10"></textarea>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
</div>