<div class="modal-header">
    <h5 class="modal-title">Nuevo paciente</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body form-empleado">
  <form class="text-center p-5 pt-0" [formGroup]="pacienteForm">
    <div class="row">
      <div class="col-12">
        <h4> Datos personales </h4>
      </div>
      <div class="col-6">
        <p style="text-align: initial;"> Nombre: </p>
        <input type="text" id="namePaciente" formControlName="namePaciente" class="input form-control" placeholder="Nombre completo" required>
      </div>
      <div class="col-6">
        <p style="text-align: initial;"> Fecha de nacimiento: </p>
        <input type="date" id="datePaciente" formControlName="datePaciente" class="input form-control" placeholder="Fecha nacimiento" required>
      </div>
      <div class="col-12">
        <p style="text-align: initial;"> Telefono: </p>
        <input type="text" id="phonePaciente" formControlName="phonePaciente" class="input form-control" placeholder="Telefono" maxlength="10" required>
      </div>
      <div class="col-12">
        <p style="text-align: initial;"> Correo electronico: </p>
        <input type="text" id="emailPaciente" formControlName="emailPaciente" class="input form-control" placeholder="Correo electronico" required>
      </div>
      <div class="col-12 mb-2 input-wrapper w-100">
        <p style="text-align: initial;"> Ciudad: </p>
        <select class="select-register select-register--emp" formControlName="ciudad_pac" id="ciudad-select" style="padding: 15px 15px 15px 0px;" required>
          <option value="" disabled>Selecciona la ciudad</option>
          <option *ngFor="let c of ciudad" [value]="c.id_ciudad">{{c.nombre}}</option>
        </select>
      </div>
    </div>
  </form>
  <form class="text-center p-5 pt-0" [formGroup]="contactoEmergForm">
    <div class="row">
        <div class="col-12">
            <h4> Datos de contacto de emergencia </h4>
          </div>
        <div class="col-6">
          <p style="text-align: initial;"> Nombre: </p>
          <input type="text" id="nameEmergencia" formControlName="nameEmergencia" class="input form-control" placeholder="Nombre completo" required>
        </div>
        <div class="col-6">
          <p style="text-align: initial;"> Telefono: </p>
          <input type="text" id="phoneEmergencia" formControlName="phoneEmergencia" class="input form-control" placeholder="Telefono" maxlength="10" required>
        </div>
        <div class="col-12">
          <p style="text-align: initial;"> Correo electronico: </p>
          <input type="text" id="emailEmergencia" formControlName="emailEmergencia" class="input form-control" placeholder="Correo electronico" required>
        </div>
        <div class="col-12 mb-2 input-wrapper w-100">
          <p style="text-align: initial;"> Ciudad: </p>
          <select class="select-register select-register--emp" formControlName="ciudad_contacto" id="ciudad-select" style="padding: 15px 15px 15px 0px;" required>
            <option value="" disabled>Selecciona la ciudad</option>
            <option *ngFor="let c of ciudad" [value]="c.id_ciudad">{{c.nombre}}</option>
          </select>
        </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onAddPaciente(pacienteForm.value, contactoEmergForm.value)">Guardar</button>
  <button type="button" id="closeModal" class="btn btn-secondary" (click)="resetForm()" data-bs-dismiss="modal">Cancelar</button>
</div>
